.scroll {
    --sb-track-color: #232E3300;
    --sb-thumb-color: #ffffff1a;
    --sb-size: 3px;
  }
  
  .scroll::-webkit-scrollbar {
    width: var(--sb-size);
  }
  
  .scroll::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 7px;
  }
  
  .scroll::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 7px;
    border: 4px solid #232E331a;
  }